<ng-include src="'./pages/root/navbar/navbar-home.html'"></ng-include>
<ng-include src="'./pages/root/carousel/carousel-home.html'"></ng-include>

<!-- Main section -->
<div class="signup-home-back">
	<div class="container position-relative py-5">
		<div class="row">
			<div class="col-md-7 text-center text-md-left">
				<h1 class="font-weight-light text-white font-4rem">Built for tasks management</h1>
				<p class="font-weight-light font-1_7rem">TodoApp is a tasks management platform helps many people to manage time more efficiently. All your tasks are saved in your account in Cloud base system, you can access them from anywhere: web, iOS and Android Apps.</p>
			</div>
			
			<!-- Quick Sign up -->
			<div class="col-sm-12 col-md-5 px-sm-5 px-md-3">
				<div class="rounded-2 text-gray bg-gray-light py-4 px-4 px-md-3 px-lg-4">
					<form class="needs-validation" novalidate ng-submit="signUp($event);">
						<div class="form-row align-items-center">
							<div class="col-12">
								<label for="firstName">First name</label>
								<div class="input-group mb-2">
									<div class="input-group-prepend">
										<div class="input-group-text"><i class="fas fa-user"></i></div>
									</div>
									<input type="text" class="form-control border-right-radius-5px" minlength="2" maxlength="20"
									       id="firstName" ng-model="signup.firstName" pattern="[a-zA-Z0-9\s'-.]{2,20}" placeholder="First Name" required>
								    <div class="invalid-tooltip font10">
							        	First Name is required.
							        </div>
								</div>
							</div>
							<div class="col-12">
								<label for="lastName">Last name</label>
								<div class="input-group mb-2">
									<div class="input-group-prepend">
										<div class="input-group-text"><i class="fas fa-user"></i></div>
									</div>
									<input type="text" class="form-control border-right-radius-5px" minlength="2" maxlength="20" 
									       id="lastName" ng-model="signup.lastName" pattern="[a-zA-Z0-9\s'-.]{2,20}" placeholder="Last Name" required>
									<div class="invalid-tooltip font10">
							        	Last Name is required.
							        </div>
								</div>
							</div>
							<div class="col-12">
								<label for="email">Username</label>
								<div class="input-group mb-2">
									<div class="input-group-prepend">
										<div class="input-group-text"><i class="fas fa-at"></i></div>
									</div>
									<input type="email" class="form-control border-right-radius-5px" id="email" 
									       placeholder="sample@mail.com" ng-model="signup.email" required>
									<div class="invalid-tooltip font10">
							        	Valid and unique email is required. You will use it as username.
							        </div>
								</div>
							</div>
							<div class="col-12">
							    <label for="password">Password</label>
								<div class="input-group mb-2">
									<div class="input-group-prepend">
										<div class="input-group-text"><i class="fas fa-key"></i></div>
									</div>
									<input type="password" class="form-control border-right-radius-5px" pattern=".{6,}"
						   				   id="password" ng-model="signup.password" placeholder="Password" required>
									<div class="invalid-tooltip font10">
							        	Password is required. Min 6 characters.
							        </div>
								</div>
							</div>
							<div class="col-12 mt-4">
								<button type="submit" class="btn btn-success btn-large btn-block mb-2 p-2">Sign up for ToDo</button>
							</div>
						</div>
					</form>
				</div>
			</div>	
			<!-- End of Quick Sign up -->
		</div>
	</div>
</div>
<!-- End of Main section-->

<div class="container my-5">
	Features Section
</div>

<hr>
<div class="container my-5">
	Contact Us Section
</div>
<hr>

<ng-include src="'./pages/root/footer/footer-home.html'"></ng-include>