<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
  	<img alt="E=mc2 Software Lab" title="E=mc2 Software Lab" class="logo-emc2">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form name="customerForm" id="customerForm" data-parsley-valitade class="form-inline my-2 my-lg-0">
    	
    <!-- 
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
     -->
     	   <div ng-hide="profile">
	           <input class="form-control mr-sm-2" type="text" ng-Model="customer.username" placeholder="username" aria-label="Username"
	           		  pattern="[a-zA-Z0-9\.\-\s]{1,30}" size="10" maxlength="30" data-parsley-error-message="Invalid characters. Max 30 allowed." data-parsley-trigger="change" required>
	     	   <input class="form-control mr-sm-2 mt-1 mt-sm-0" type="password" ng-Model="customer.password" placeholder="password" aria-label="Password"
	           		  pattern="[a-zA-Z0-9\.\-\s]{1,30}" size="10" maxlength="30" data-parsley-error-message="Invalid characters. Max 30 allowed." data-parsley-trigger="change" required>
	     	   <button type="submit" ng-click="doLogin(customer, 'customerForm')" class="btn btn-outline-success my-2 my-sm-0">Sign in</button>
     	   </div>
     	   <div ng-show="profile">
				<span class="form-control float-left mr-2"><i>Welcome, {{profile.email}}</i></span>
				<button type="button" class="btn btn-outline-secondary float-right" ng-click="logout();">Sign out</button>
		   </div>
    </form>
    

    
    <!-- 
    <form name="customerForm" id="customerForm" class="col-12" data-parsley-valitade>
		<div class="row">
			<div class="col-5 no-padding-right">
					<input type="text" class="form-control" ng-Model="customer.username" placeholder="username"
						   ng-init="customer.username = 'user01'"
						   pattern="[a-zA-Z0-9\.\-\s]{1,30}" maxlength="30" data-parsley-error-message="Invalid characters. Max 30 allowed." data-parsley-trigger="change" required>
			</div>
			<div class="col-5 no-padding-left no-padding-right">
					<input type="password" class="form-control" ng-Model="customer.password" placeholder="password" 
						   ng-init="customer.password = 'user'"
						   pattern="[a-zA-Z0-9\.\-\s]{1,30}" maxlength="30" data-parsley-error-message="Invalid characters. Max 30 allowed." data-parsley-trigger="change" required>
			</div>
			<div class="col-2 no-padding-left padding-left-02em">
					<button type="button" class="btn btn-outline-success" ng-click="doLogin(customer, 'customerForm')">Sign in</button>
			</div>
		</div>
	</form>
     -->
    
    
    
  </div>
</nav>

<div class="container">
	<div class="row">
		<div ng-if="errorMessage" class="col-12 text-red padding-1em text-center border-solid-red back-dirt-white">
			<p>{{errorMessage}}</p>
		</div>
	</div>
	
	<div class="row" ng-hide="profile">
		<div class="col-12 col-md-6" >
			<div class="row">
				<div class="col-12">
					<h4>Customer</h4>
				</div>
				<form name="customerForm" id="customerForm" class="col-12" data-parsley-valitade>
					<div class="row">
						<div class="col-5 no-padding-right">
								<input type="text" class="form-control" ng-Model="customer.username" placeholder="username"
									   ng-init="customer.username = 'user01'"
									   pattern="[a-zA-Z0-9\.\-\s]{1,30}" maxlength="30" data-parsley-error-message="Invalid characters. Max 30 allowed." data-parsley-trigger="change" required>
						</div>
						<div class="col-5 no-padding-left no-padding-right">
								<input type="password" class="form-control" ng-Model="customer.password" placeholder="password" 
									   ng-init="customer.password = 'user'"
									   pattern="[a-zA-Z0-9\.\-\s]{1,30}" maxlength="30" data-parsley-error-message="Invalid characters. Max 30 allowed." data-parsley-trigger="change" required>
						</div>
						<div class="col-2 no-padding-left padding-left-02em">
								<button type="button" class="btn btn-outline-success" ng-click="doLogin(customer, 'customerForm')">Sign in</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="row" ng-show="profile">
		<div class="col-12">
			<h4>Customer session</h4>
		</div>
		
		<div class="col-12 no-padding-right float-right">
			<p class="float-left"><i>Welcome, {{profile.email}}</i></p>
			<button type="button" class="btn btn-outline-secondary float-right" ng-click="logout();">Sign out</button>
		</div>
	</div>
	
	<hr>
	
	<div class="row">
		<div class="col-12">
			<a href="#/secured">
				<button type="button" class="btn btn-outline-danger">Secured Page</button>
			</a>
		</div>
		<br>
		<div class="col-12">
			<button type="button" class="btn btn-outline-warning" ng-click="securedApi()">Secured API</button>
			<br>
			<span>{{securedApiResponse}}</span>
		</div>
		<div class="col-12">
			<button type="button" class="btn btn-outline-info" ng-click="showAlert()">Show alert</button>
		</div>
		<br>
	</div>
</div>