<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
  	<img alt="ToDo App" title="ToDo App" width="30" height="30" class="logo-todo-30px d-inline-block align-top"">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    	<li class="nav-item active">
        	<a class="nav-link" href="#">Home</a>
      	</li>
    	<li class="nav-item active">
        	<a class="nav-link" href="#">Features</a>
      	</li><li class="nav-item active">
        	<a class="nav-link" href="#">Contact us</a>
      	</li>
    
      <!-- save for future usage
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
      -->
      
    </ul>
    <span class="d-block d-lg-inline-block">
        <div class="px-0 py-2 m-0">
          <a class="text-bold text-white no-underline" href="#/sign-in">Sign in</a>
            <span class="text-gray">or</span>
            <a class="text-bold text-white no-underline" href="/join?source=header-home">Sign up</a>
        </div>
    </span>
  </div>
</nav>

<div class="container">
	<div class="row">
		<div ng-if="errorMessage" class="col-12 text-red padding-1em text-center border-solid-red back-dirt-white">
			<p>{{errorMessage}}</p>
		</div>
	</div>
	
	<div class="row" ng-hide="profile">
		<div class="col-12 col-md-6" >
			<div class="row">
				<div class="col-12">
					<h4>Customer</h4>
				</div>
				<form name="customerForm" id="customerForm" class="col-12" data-parsley-valitade>
					<div class="row">
						<div class="col-5 no-padding-right">
								<input type="text" class="form-control" ng-Model="customer.username" placeholder="username"
									   ng-init="customer.username = 'user01'"
									   pattern="[a-zA-Z0-9\.\-\s]{1,30}" maxlength="30" data-parsley-error-message="Invalid characters. Max 30 allowed." data-parsley-trigger="change" required>
						</div>
						<div class="col-5 no-padding-left no-padding-right">
								<input type="password" class="form-control" ng-Model="customer.password" placeholder="password" 
									   ng-init="customer.password = 'user'"
									   pattern="[a-zA-Z0-9\.\-\s]{1,30}" maxlength="30" data-parsley-error-message="Invalid characters. Max 30 allowed." data-parsley-trigger="change" required>
						</div>
						<div class="col-2 no-padding-left padding-left-02em">
								<button type="button" class="btn btn-outline-success" ng-click="doLogin(customer, 'customerForm')">Sign in</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="row" ng-show="profile">
		<div class="col-12">
			<h4>Customer session</h4>
		</div>
		
		<div class="col-12 no-padding-right float-right">
			<p class="float-left"><i>Welcome, {{profile.email}}</i></p>
			<button type="button" class="btn btn-outline-secondary float-right" ng-click="logout();">Sign out</button>
		</div>
	</div>
	
	<hr>
	
	<div class="row">
		<div class="col-12">
			<a href="#/secured">
				<button type="button" class="btn btn-outline-danger">Secured Page</button>
			</a>
		</div>
		<br>
		<div class="col-12">
			<button type="button" class="btn btn-outline-warning" ng-click="securedApi()">Secured API</button>
			<br>
			<span>{{securedApiResponse}}</span>
		</div>
		<div class="col-12">
			<button type="button" class="btn btn-outline-info" ng-click="showAlert()">Show alert</button>
		</div>
		<br>
	</div>
</div>