<div class="container">
	<div class="row">
		<div ng-if="errorMessage" class="col-xs-12 text-red padding-1em text-center border-solid-red back-dirt-white">
			<p>{{errorMessage}}</p>
		</div>
		<div class="col-xs-12">
			<h1>Admin login</h1>
			<label for="adminLogin">Login:</label>
			<input type="text" id="adminLogin" ng-Model="data.username"></input>
			<br>
			<label for="adminPass">Password:</label>
			<input type="password" id="adminPass" ng-Model="data.password"></input>
			<br>
			<input type="submit" ng-click="doAdminLogin()"></input>
		</div>
		<br>
		<div class="col-xs-12">
			<a href="#/secured">
				<button>Secured Page</button>
			</a>
		</div>
		<br>
		<div class="col-xs-12">
			<button ng-click="securedApi()">Secured API</button>
			<br>
			<span>{{securedApiResponse}}</span>
		</div>
		<!--
		<div class="col-xs-12">
			<button ng-click="refreshToken()">Refresh token</button>
		</div>
		-->
		<br>
	</div>
</div>