html,body {
	height: 100%;
}

body {
    font-weight: 300;
}

.overflow-auto {
	overflow: auto
}

.spinner {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background-color: #333;
	opacity: .8;
}

.width-height-per100 {
	width: 100%;
	height: 100%;
}

.width-full {
	width: 100%;
}

.rotate360-5s {
	-webkit-animation: rotate360 5s linear infinite;
	-moz-animation: rotate360 5s linear infinite;
	animation: rotate360 5s linear infinite;
}

.div-center-screen-size-100-100 {
	display: inline-block;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100px;
	height: 100px;
	margin: auto;
}

@
-moz-keyframes rotate360 { 100% {
	-moz-transform: rotate(360deg);
}

}
@
-webkit-keyframes rotate360 { 100% {
	-webkit-transform: rotate(360deg);
}

}
@
keyframes rotate360 { 100% {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}

}
.text-red {
	color: #ff0000;
}

.text-gray {
	color: #586069;
}

.padding-1em {
	padding: 1em;
}

.text-center {
	text-align: center;
}

.border-solid-red {
	border: 1px solid #ff0000;
}

.back-dirt-white {
	background-color: #f5f5f5;
}

.parsley-errors-list {
	color: #ff0000;
	list-style: none;
	padding-left: 0.2em;
	font-size: 12px;
}

.no-padding-left {
	padding-left: 0;
}

.no-padding-right {
	padding-right: 0;
}

.padding-left-02em {
	padding-left: 0.2em;
}

.logo-emc2 {
	content: url('../images/Emc2_logo.png');
}

.logo-todo-30px {
	content: url('../images/todo_logo_30px.png');
}

.text-normal {
	font-weight: 400 !important
}

.text-bold {
	font-weight: 600 !important
}

.text-italic {
	font-style: italic !important
}

.text-uppercase {
	text-transform: uppercase !important
}

.no-underline {
	text-decoration: none !important
}

.no-wrap {
	white-space: nowrap !important
}

.form-signin {
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

a {
	color: #0366d6;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.font10 {
	font-size: 10px;
}

.font11 {
	font-size: 11px;
}

.font12 {
	font-size: 12px;
}

.font13 {
	font-size: 13px;
}

.font14 {
	font-size: 14px;
}

.font15 {
	font-size: 15px;
}

.font16 {
	font-size: 16px;
}

.font17 {
	font-size: 17px;
}

.font18 {
	font-size: 18px;
}

.font19 {
	font-size: 19px;
}

.font20 {
	font-size: 20px;
}

.font21 {
	font-size: 21px;
}

.font-1rem {
	font-size: 1rem;
}

.font-1_7rem {
	font-size: 1.7rem;
}

.font-2rem {
	font-size: 2rem;
}

.font-3rem {
	font-size: 3rem;
}

.font-4rem {
	font-size: 4rem;
}

.font-5rem {
	font-size: 5rem;
}

.margin-top-min10px {
	margin-top: -10px;
}

.banner-image1 {
	background-image: url('../images/carousel/nature_1.jpg');
}

.banner-image2 {
	background-image: url('../images/carousel/nature_2.jpg');
}

.banner-image3 {
	background-image: url('../images/carousel/nature_3.jpg');
}

.banner {
	width: 100vw;
	height: 250px;
	background-repeat: no-repeat;
	background-size: cover;
    background-position: 50%;
}

.signup-home-back {
	color: rgba(255,255,255,0.6);
	background: url('../images/simple-codelines.svg'),#2b3137;
    background-position: center 10%;
    background-size: cover;
	/* width: 100vw; */
}

.rounded-1 {
	border-radius: 3px !important;
}

.rounded-2 {
	border-radius: 9px !important;
}

.bg-gray-light {
	background-color: #fafbfc !important;
}

	
.invalid-tooltip {
	width: auto;
}

@media (min-width: 1012px) {}
	.p-responsive {
	    padding-right: 16px !important;
	    padding-left: 16px !important;
	}
}

@media (min-width: 544px) {
	.p-responsive {
	    padding-right: 40px !important;
	    padding-left: 40px !important;
	}
}

.p-responsive {
    padding-right: 16px !important;
    padding-left: 16px !important;
}

.position-relative {
    position: relative !important;
}

.container-lg {
    max-width: 1012px;
    margin-right: auto;
    margin-left: auto;
}

/*
	---- FOOTER ----
*/

footer.page-footer {
    bottom: 0;
    color: #fff;
}

.stylish-color-dark {
    background-color: #3e4551!important;
}

.font-small {
    font-size: .9rem;
}

footer.page-footer a {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    background-color: transparent;
}

.waves-effect {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    z-index: 1;
}

.btn-floating {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    width: 47px;
    height: 47px;
    position: relative;
    z-index: 1;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin: 10px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
}

.btn-floating.btn-sm {
    width: 36.15385px;
    height: 36.15385px;
}

a.waves-effect, a.waves-light {
    display: inline-block;
}


.rgba-white-slight {
    background-color: rgba(255,255,255,.1);
}

.btn-floating.btn-sm {
    width: 36.15385px;
    height: 36.15385px;
}

a:not([href]):not([tabindex]), a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
    color: inherit;
    text-decoration: none;
}

.btn-floating.btn-sm i {
    font-size: .96154rem;
    line-height: 36.15385px;
}

.btn-floating i {
    display: inline-block;
    width: inherit;
    text-align: center;
    color: #fff;
}