<div class="div-sign-in text-center">
	<form class="form-signin needs-validation" novalidate ng-submit="changePassword($event);">
		<a href="#">
			<img alt="ToDo App" title="ToDo App" width="72" height="72" class="mb-4 logo-todo-70px d-inline-block"">
		</a>
		<h3 class="mb-3 signin-form-header">Change password</h3>
		<div class="signin-form-body mt-3 min-width-18rem" ng-hide="changedSuccessfully">
			<div class="input-group">
				<label class="width-full text-left text-muted"><strong>Password must contain at least six characters. Case sensitive.</strong></label> 
				<label for="password" class="width-full mt-3 text-left font-weight-600">Password</label> 
				<input type="password" id="password" ng-model="password" pattern=".{6,}"
					   class="form-control form-control-signin rounded" required> 
				<div class="invalid-tooltip font12">
		        	Invalid password
		        </div>
		        <label for="confirm" class="width-full mt-2 text-left font-weight-600">Confirm</label> 
				<input type="password" id="confirm" ng-model="confirm" pattern=".{6,}"
					   class="form-control form-control-signin rounded" required> 
				<div class="invalid-tooltip font12">
		        	Invalid confirm password
		        </div>
			</div>
			<button class="btn btn-success btn-block mt-4" type="submit">Change password</button>
		</div>
		
		<div class="signin-form-body mt-3 min-width-19rem" ng-show="changedSuccessfully">
			<div class="auth-form-body mt-3">
				<p class="mt-0">Check your email for a link to reset your
					password. If it doesn’t appear within a few minutes, check your
					spam folder.</p>
				<a class="btn btn-block btn-dark" href="#/sign-in"> Return to sign in </a>
			</div>
		</div>
		
	    <p class="margin-top-min10px">
	        <ul class="list-style-none d-flex flex-justify-center font12">
				<li class="mr-3"><a href="#" class="link-gray" data-ga-click="Footer, go to terms, text:terms">Terms</a></li>
				<li class="mr-3"><a href="#" class="link-gray" data-ga-click="Footer, go to privacy, text:privacy">Privacy</a></li>
				<li class="mr-3"><a href="#" class="link-gray" data-ga-click="Footer, go to security, text:security">Security</a></li>
				<li><a href="#" class="link-gray" data-ga-click="Footer, go to contact, text:contact">Contact us</a></li>
			</ul>
	    </p>
		<p class="mt-5 mb-3 text-muted">© Emc2 Software 2018</p>
	</form>
</div>
