<div class="container">
	<div class="row">
		<div ng-if="errorMessage" class="col-12 text-red padding-1em text-center border-solid-red back-dirt-white">
			<p>{{errorMessage}}</p>
		</div>
	</div>
	
	<div class="row">
		<div class="col-12 col-md-6">
			<div class="row" ng-hide="profile">
				<div class="col-12">
					<h4>Admin</h4>
				</div>
				<form name="adminForm" id="adminForm" class="col-12" data-parsley-valitade>
					<div class="row">
						<div class="col-5 no-padding-right">
								<input type="text" class="form-control" ng-Model="admin.username" placeholder="username" 
									   ng-init="admin.username = 'admin'"
									   pattern="[a-zA-Z0-9\.\-\s]{1,30}" maxlength="30" data-parsley-error-message="Invalid characters. Max 30 allowed." data-parsley-trigger="change" required>
						</div>
						<div class="col-5 no-padding-left no-padding-right">
								<input type="password" class="form-control" ng-Model="admin.password" placeholder="password" 
									   ng-init="admin.password = 'admin'"
									   pattern="[a-zA-Z0-9\.\-\s]{1,30}" maxlength="30" data-parsley-error-message="Invalid characters. Max 30 allowed." data-parsley-trigger="change" required>
						</div>
						<div class="col-2 no-padding-left padding-left-02em">
								<button type="button" class="btn btn-success" ng-click="doLogin(admin, 'adminForm')">Sign in</button>
						</div>
					</div>
				</form>
			</div>
			<div class="row" ng-show="profile">
				<div class="col-12">
					<h4>Admin session</h4>
				</div>
				<div class="col-10 no-padding-right">
					<p class="float-left"><i>Welcome, {{profile.email}}</i></p>
				</div>

				<div class="col-2 no-padding-left padding-left-02em">
					<button type="button" class="btn btn-secondary" ng-click="logout();">Sign out</button>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-12">
			<a href="#/secured">
				<button type="button" class="btn btn-danger">Secured Page</button>
			</a>
		</div>
		<br>
		<div class="col-12">
			<button type="button" class="btn btn-warning" ng-click="securedApi()">Secured API</button>
			<br>
			<span>{{securedApiResponse}}</span>
		</div>
		<div class="col-12">
			<button type="button" class="btn btn-info" ng-click="showAlert()">Show alert</button>
		</div>
		<br>
	</div>
</div>